:host {
  display block
}

.app-name {
  margin-left 0.5rem
}

mat-drawer {
  width 300px
}

mat-drawer-content {
  height 100vh
  display flex
  flex-direction column
}

.fab-fixed {
  position fixed
  bottom 1rem
  right 1rem
}
