:host {
  display flex
  flex-direction column
  height 100%
  align-items center
  justify-content center
}

.mat-error:not(:first-of-type) {
  display: none
}

.mat-form-field {
  display block
  margin-bottom 1rem
}

.register-form {
  box-sizing border-box
  flex-direction column
  display flex
  max-width 320px
  padding 1rem
  width 100%
}

.mat-progress-spinner {
  display inline-block
}

