/* You can add global styles to this file, and also import other style files */
@import 'nib'
@import '@angular/material/prebuilt-themes/pink-bluegrey.css'
global-reset()

html {
  background-color #333
  color #fff
}

body {
  background-color inherit
  color inherit
}
